* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

p,
h5,
h4,
h3,
h2,
h1,
* {
    font-family: 'Raleway', sans-serif;
}

a,
a:hover,
a:visited,
a:active,
a:window-inactive,
a:invalid {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:link,
a:any-link .dark {
    color: #e8e8e8;
    background-color: #155b4a;
}

.main-header {
    width: 100%;
    height: 50px;
    background: url(../Images/lbry-white.svg) #155b4a;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
}

ul.mainMenu {
    list-style: none;
    margin-left: 130px;
}

ul.mainMenu>li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    font-weight: bolder;
}

.cta {
    text-align: center;
}

.col-md-12 {
    padding: 0 !important;
}

.withdrawForm {
    margin: 8px;
}

.daemonErrorOverlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    padding-top: 20%;
    color: white;
    text-align: center;
}

.view {
    color: black !important;
}